@model InterviewEvaluationSystem.Models.HRDashboardViewModel
@{
    ViewBag.Title = "HRHomePage";
}
<link href="~/Content/dashboardstyle.css" rel="stylesheet" />

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="~/HR/HRHomePage">Home Page</a>
    </li>
    <li class="breadcrumb-item active">Dashboard</li>
</ol>

<div id="page-wrapper">
    <div class="row">
        <div class="col-xl-3 col-sm-3 mb-3">
            <div class="panel panel-primary bg-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-3">
                            <br />
                            <i class="fa fa-users fa-4x"></i>
                        </div>
                        <div class="col-sm-9 text-right">
                            <div class="huge">@Model.NewCandidateCount</div>
                            <div class="text">Candidates in HR Round</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-3 mb-3">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-3">
                            <br />
                            <i class="fa fa-bell fa-4x"></i>
                        </div>
                        <div class="col-sm-9 text-right">
                            <div class="huge">@Model.NotificationCount</div>
                            <div class="text">Notifications</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-3 mb-3">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-3">
                            <br />
                            <i class="fa fa-calendar fa-4x"></i>
                        </div>
                        <div class="col-sm-9 text-right">
                            <div class="huge">@Model.TodaysInterviewCount</div>
                            <div class="text">Today's Interviews</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-3 mb-3">
            <div class="panel panel-pink">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-3">
                            <br />
                            <i class="fa fa-user-secret fa-4x"></i>
                        </div>
                        <div class="col-sm-9 text-right">
                            <div class="huge">@Model.AvailableInterviewerCount</div>
                            <div class="text">Interviewers Available</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-3 col-sm-3 mb-3">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-3">
                            <br />
                            <i class="fa fa-graduation-cap fa-4x"></i>
                        </div>
                        <div class="col-sm-9 text-right">
                            <div class="huge">@Model.SkillCount</div>
                            <div class="text">Number of Skills</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-3 mb-3">
            <div class="panel panel-violet">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-3">
                            <br />
                            <i class="fa fa-shield fa-4x"></i>
                        </div>
                        <div class="col-sm-9 text-right">
                            <div class="huge">@Model.CandidatesInProgress</div>
                            <div class="text">Candidates In Progress</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-3 mb-3">
            <div class="panel panel-lightblue">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-3">
                            <br />
                            <i class="fa fa-trophy fa-4x"></i>
                        </div>
                        <div class="col-sm-9 text-right">
                            <div class="huge">@Model.HiredCandidateCount</div>
                            <div class="text">Hired Candidates</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-3 mb-3">
            <div class="panel panel-lightgreen">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-3">
                            <br />
                            <i class="fa fa-bar-chart fa-4x"></i>
                        </div>
                        <div class="col-sm-9 text-right">
                            <div class="huge">@Model.TotalCandidateCount</div>
                            <div class="text">Total Candidates</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        @if (Url.Action("ChartPie") == null)
        {
            <div class="col-xl-6 col-sm-6">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-pie-chart"></i> Candidate  Status - Pie Chart
                    </div>
                    <div class="card-body">
                        <img src="@Url.Action("ChartPie")" alt="Chart" />
                    </div>
                </div>
            </div>
        }
        @if (Url.Action("ChartColumn") == null)
        {
            <div class="col-xl-6 col-sm-6">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-bar-chart"></i> Statistics - Column Chart
                    </div>
                    <div class="card-body">
                        <img src="@Url.Action("ChartColumn")" alt="Chart" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>