@model InterviewEvaluationSystem.Models.HRDashboardViewModel
@{
    ViewBag.Title = "HRHomePage";
}
<link href="~/Content/startmin.css" rel="stylesheet" />
<link href="~/Content/menustyle.css" rel="stylesheet" />

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="~/HR/HRHomePage">Home Page</a>
    </li>
    <li class="breadcrumb-item active">Dashboard</li>
</ol>
@*<div class="row">
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-primary o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fa fa-users"></i>
                </div>
                <div class="mr-5">@Model.NewCandidateCount New Candidates!</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-warning o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fa fa-bell"></i>
                </div>
                <div class="mr-5">@Model.NotificationCount New Notifications!</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-success o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fa fa-calendar"></i>
                </div>
                <div class="mr-5">@Model.TodaysInterviewCount Today's Interviews!</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-danger o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fa fa-user-secret"></i>
                </div>
                <div class="mr-5">@Model.AvailableInterviewerCount Interviewers Available!</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-warning o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fa fa-graduation-cap"></i>
                </div>
                <div class="mr-5">@Model.SkillCategoryCount Skill Categories!</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-primary o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fa fa-shield"></i>
                </div>
                <div class="mr-5">@Model.SkillCount Skills!</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-success o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fa fa-trophy"></i>
                </div>
                <div class="mr-5">@Model.HiredCandidateCount Hired Candidates!</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-dark o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fa fa-bar-chart"></i>
                </div>
                <div class="mr-5">@Model.TotalCandidateCount Total Candidates!</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
</div>*@

<div id="page-wrapper">
    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="panel bg-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-3">
                            <br />
                            <i class="fa fa-users fa-5x"></i>
                        </div>
                        <div class="col-sm-9 text-right">
                            <div class="huge">@Model.NewCandidateCount</div>
                            <div class="text">New Candidates</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-3">
                            <br />
                            <i class="fa fa-bell fa-5x"></i>
                        </div>
                        <div class="col-sm-9 text-right">
                            <div class="huge">@Model.NotificationCount</div>
                            <div class="text">Notifications</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-3">
                            <br />
                            <i class="fa fa-calendar fa-5x"></i>
                        </div>
                        <div class="col-sm-9 text-right">
                            <div class="huge">@Model.TodaysInterviewCount</div>
                            <div class="text">Today's Interviews</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="panel panel-pink">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-3">
                            <br />
                            <i class="fa fa-user-secret fa-5x"></i>
                        </div>
                        <div class="col-sm-9 text-right">
                            <div class="huge">@Model.AvailableInterviewerCount</div>
                            <div class="text">Interviewers Available</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="panel panel-violet">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-3">
                            <br />
                            <i class="fa fa-graduation-cap fa-5x"></i>
                        </div>
                        <div class="col-sm-9 text-right">
                            <div class="huge">@Model.SkillCategoryCount</div>
                            <div class="text">Skill Categories</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-3">
                            <br />
                            <i class="fa fa-shield fa-5x"></i>
                        </div>
                        <div class="col-sm-9 text-right">
                            <div class="huge">@Model.SkillCount</div>
                            <div class="text">Number of Skills</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="panel panel-lightblue">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-3">
                            <br />
                            <i class="fa fa-trophy fa-5x"></i>
                        </div>
                        <div class="col-sm-9 text-right">
                            <div class="huge">@Model.HiredCandidateCount</div>
                            <div class="text">Hired Candidates</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="panel panel-lightgreen">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-3">
                            <br />
                            <i class="fa fa-bar-chart fa-5x"></i>
                        </div>
                        <div class="col-sm-9 text-right">
                            <div class="huge">@Model.TotalCandidateCount</div>
                            <div class="text">Total Candidates</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.ActionLink("Go to Evaluation", "CandidateStatus", "HR")