
@{
    ViewBag.Title = "Notification";
    
}

<script src="~/Scripts/Notification.js"></script>
<link href="~/Content/webgridstyle.css" rel="stylesheet" />
<h2>Notification</h2>

@{
    var grid = new WebGrid(ViewBag.notificationList, canPage: true, rowsPerPage: 15, canSort: true);
}

@if (ViewBag.notificationList.Count==0)
{

    <div class="alert alert-success">
        <strong>No Notifications Exists. </strong>  @Html.ActionLink("Redirect To Add Candidate Page", "AddCandidate", "HR", new { @class = "alert-link" }, null)

    </div>
}

else
{
   @grid.GetHtml(tableStyle: "table table-bordered table-striped table-condensed",
        headerStyle: "webgrid-header",
        footerStyle: "webgrid-footer",
        alternatingRowStyle: "webgrid-alternating-row",
        selectedRowStyle: "webgrid-selected-row",
        rowStyle: "webgrid-row-style",
        mode: WebGridPagerModes.All,
        columns: grid.Columns(
            grid.Column("CandidateID", format:@<text><span><label id="lblCandidateID">@item.CandidateID</label></span></text>),
            grid.Column("Name", format:@<text><span><label id="lblCandidateName">@item.Name</label></span></text>),
            grid.Column("Email", format:@<text><span><label id="lblCandidateEmail">@item.Email</label></span></text>),
            grid.Column("RoundID", format:@<text><span><label id="lblCandidateRound">@item.RoundID</label></span></text>),
            grid.Column(columnName: "Recommended", header: "Status", format: (item) =>
            {
                if (item.Recommended == true && item.RoundID < item.totalRound)
                {
                    return new HtmlString("<input type='button' value='Proceed To Next Round' class='ProceedNext' />");
                }
                else if (item.Recommended == true && item.RoundID == item.totalRound)
                {
                    return new HtmlString("<input type='button' value='Hire The Candidate' class='HireCandidate' />");
                    //return Html.Raw(string.Format("Hired"));
                }
                else
                {
                    return new HtmlString("<input type='button' value='Reject The Candidate' class='RejectCandidate' />");
                    // return Html.Raw(string.Format("Rejected"));
                }
            }))
            )

<div id="ProceedCandidateDiv">
</div>
}





