@model InterviewEvaluationSystem.Models.RatingScaleViewModel

@{
    ViewBag.Title = "RatingScale";
}

<script src="~/Scripts/Rscale.js"></script>

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="~/HR/HRHomePage">Home Page</a>
    </li>
    <li class="breadcrumb-item active">Rating Scale</li>
</ol>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div ID="form1" class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.RateScale, "Rate Scale", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RateScale, new { htmlAttributes = new { @class = "form-control", @placeholder = "Rate Scale" } })
                @Html.ValidationMessageFor(model => model.RateScale, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RateValue, "Rate Value", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RateValue, new { htmlAttributes = new { @class = "form-control", @placeholder = "Rate Value", @min = "0" } })
                @Html.ValidationMessageFor(model => model.RateValue, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Description" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add Rating Scale" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div id="ajaxgrid">
    @{
        var gridview = new WebGrid(ViewBag.Roles, canSort: true, ajaxUpdateContainerId: "ajaxgrid", rowsPerPage: 5);
    }
    @if (ViewBag.Roles.Count != 0)
    {
        @gridview.GetHtml(tableStyle: "table table-bordered table-striped table-condensed",
                     headerStyle: "webgrid-header",
                     footerStyle: "webgrid-footer",
                     alternatingRowStyle: "webgrid-alternating-row",
                     selectedRowStyle: "webgrid-selected-row",
                     rowStyle: "webgrid-row-style",
                     mode: WebGridPagerModes.All,
                     columns: new[]{
                    gridview.Column("RateScale",format:
                    @<text>
                        <span id="ratescale" class="read">@item.RateScale</span>
                        @Html.TextBox("RateScale", (string)item.RateScale, new { @class = "edit",@style="display:none"  })
                    </text>),
                     gridview.Column("Value",format:
                    @<text>
                        <span id="ratevalue" class="read">@item.RateValue</span>
                        @Html.TextBox("RateValue",(int)item.RateValue, new { @class = "edit",@style="display:none"  })
                    </text>),
                     gridview.Column("Description",format:
                    @<text><span id="description" class="read">@item.Description</span>
                    @Html.TextBox("Description", (string)item.Description, new { @class = "edit",@style="display:none"  })
                    </text>),
                     gridview.Column("Action", style: "button",format:
                    @<text>
                        <button class="edit-case read btn btn-default" id="@item.RateScaleID"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
                        <button class="delete-case read btn btn-default" id="@item.RateScaleID"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
                        <button class="update-case edit btn btn-default" style="display:none" id="@item.RateScaleID"><i class="fa fa-refresh" aria-hidden="true"></i> Update</button>
                        <button class="cancel-case edit btn btn-default" style="display:none" id="@item.RateScaleID"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
                    </text>)
                     })
}
</div>