@model IEnumerable<InterviewEvaluationSystem.Models.tblRatingScale>


@{
    ViewBag.Title = "RatingScale";
}

<h2>RatingScale</h2>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/Rscale.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>

<div id="grid1">
    @{
        var grid = new WebGrid(ViewBag.Roles, ajaxUpdateContainerId: "grid1", rowsPerPage: 5);
    }
</div>

@grid.GetHtml(tableStyle: "table table-bordered table-responsive table-hover",
    columns: new[]

{
       
   grid.Column("RateScaleID",
        format:
        @<text>
            <span id="ratescaleid" class="read">@item.RateScaleID</span>
            @Html.TextBox("RateScaleID", (int)item.RateScaleID, new { @class = "edit" })
        </text>),


    grid.Column("RateScale",
        format:
        @<text>
            <span id="ratescale" class="read">@item.RateScale</span>
            @Html.TextBox("RateScale", (string)item.RateScale, new { @class = "edit" })
        </text>),

    grid.Column("Value",
        format:
        @<text>
            <span id="value" class="read">@item.RateValue</span>
            @Html.TextBox("RateValue",(int)item.RateValue, new { @class = "edit" })
        </text>),

    grid.Column("Description",
         format:
        @<text>
            <span id="description" class="read">@item.Description</span>
            @Html.TextBox("Description", (string)item.Description, new { @class = "edit" })
        </text>),

    grid.Column("", style: "button",
                format:
                @<text>
                    <button class="edit-case read" id="@item.RateScaleID">Edit</button>
                    <button class="delete-case read" id="@item.RateScaleID">Delete</button>
                    <button class="update-case edit" id="@item.RateScaleID">Update</button>
                    <button class="cancel-case edit" id="@item.RateScaleID">Cancel</button>
                </text>)


    }
)
