@model InterviewEvaluationSystem.Models.CandidateViewModel

@{
    ViewBag.Title = "SearchCandidateResult";
    var gridCandidate = new WebGrid(Model.CandidateList, canPage: true, rowsPerPage: 5, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContentCandidate");
    gridCandidate.Pager(WebGridPagerModes.All);
}

<script src="~/Scripts/Candidate.js"></script>

@gridCandidate.GetHtml(tableStyle: "table table-bordered table-striped table-condensed",
        headerStyle: "webgrid-header",
        footerStyle: "webgrid-footer",
        alternatingRowStyle: "webgrid-alternating-row",
        selectedRowStyle: "webgrid-selected-row",
        rowStyle: "webgrid-row-style",
        mode: WebGridPagerModes.All,
        columns: gridCandidate.Columns(
            gridCandidate.Column("CandidateID", format:
            @<text>
                <span class="display-modeCandidate">@item.CandidateID </span>
                <label id="lblCandidateID" class="edit-modeCandidate">@item.CandidateID</label>
            </text>, style: "colWidth"),
            gridCandidate.Column("CandidateName", "CandidateName", format:
            @<text>
                <span class="display-modeCandidate"> <label id="lblCandidateName">@item.CandidateName</label> </span>
                <input type="text" id="CandidateName" value="@item.CandidateName" class="edit-modeCandidate" />
            </text>, style: "colWidth"),
            gridCandidate.Column("DateOfInterview", "Date Of Interview", format: 
            @<text>  
                <span class="display-modeCandidate"> <label id="lblDateOfInterview">@item.DateOfInterview.ToString("dd/MM/yyyy")</label> </span> 
                <input type="datetime" id="DateOfInterview" value="@item.DateOfInterview.ToString("dd/MM/yyyy")" class="edit-modeCandidate" />
            </text>),
            gridCandidate.Column("InterviewerName", "InterviewerName", format:
            @<text>
                <span class="display-modeCandidate"> <label id="lblInterviewerName">@item.InterviewerName</label> </span>
                <input type="text" id="InterviewerName" value="@item.InterviewerName" class="edit-modeCandidate" />
            </text>, style: "colWidth"),
            gridCandidate.Column("Action", format: @<text>
                <button class="edit-userCandidate display-modeCandidate"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
                <button class="save-userCandidate edit-modeCandidate"><i class="fa fa-refresh" aria-hidden="true"></i> Update</button>
                <button class="cancel-userCandidate edit-modeCandidate"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
                <button class="delete-userCandidate"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
            </text>, style: "colWidth", canSort: false))
        )