@model InterviewEvaluationSystem.Models.AddCandidateViewModels

@{
    ViewBag.Title = "SearchCandidateResult";
    ViewBag.Title = "AddCandidate";
    var gridCandidateResult = new WebGrid(source: Model.CandidateList, canPage: true, rowsPerPage: 10, canSort: true);
}

<div id="gridContentCandidate">
    @gridCandidateResult.GetHtml(tableStyle: "table table-bordered table-striped table-condensed",
        headerStyle: "webgrid-header",
        footerStyle: "webgrid-footer",
        alternatingRowStyle: "webgrid-alternating-row",
        selectedRowStyle: "webgrid-selected-row",
        rowStyle: "webgrid-row-style",
        mode: WebGridPagerModes.All,
        columns: gridCandidateResult.Columns(
            @*gridCandidateResult.Column("CandidateID", format: @<text>  <span class="display-modeCandidateResult">@item.CandidateID </span> <label id="lblCandidateID" class="edit-modeCandidateResult">@item.CandidateID</label> </text>),*@
            gridCandidateResult.Column("CandidateName", "Candidate Name", format: @<text>  <span class="display-modeCandidateResult"> <label id="lblCandidateName">@item.CandidateName</label> </span> <input type="text" id="CandidateName" value="@item.CandidateName" class="edit-modeCandidateResult" /></text>),
             //   gridCandidate.Column("DateOfInterview", "Date Of Interview", format: @<text>  <span class="display-modeCandidate"> <label id="lblDateOfInterview">@item.DateOfInterview</label> </span> <input type="datetime" id="DateOfInterview" value="@item.DateOfInterview" class="edit-modeCandidate" /></text>),
             gridCandidateResult.Column("DateOfInterview", "Date Of Interview", format: @<text>  <span class="display-modeCandidateResult"> <label id="lblDateOfInterview">@item.DateOfInterview.ToString("dd/MM/yyyy")</label> </span> <input type="datetime" id="DateOfInterview" value="@item.DateOfInterview.ToString("dd/MM/yyyy")" class="edit-modeCandidateResult" /></text>),

             //grid.Column("DateOfInterview", "Date Of Interview", format:@<text> @item.DateOfInterview.ToString("MM/dd/yyyy")</text>),
             //gridCandidate.Column("InterviewerName", "Interviewer Name", format: @<text> <span class="display-modeCandidate"> <label id="lblInterviewerName">@item.InterviewerName</label> </span>  <input type="text" id="InterviewerName" value="@item.InterviewerName" class="edit-modeCandidate" /> </text>),
             gridCandidateResult.Column("InterviewerName", "Interviewer Name", format: @<text> <span class="display-modeCandidateResult"> <label id="lblInterviewerName">@item.InterviewerName</label> </span> @Html.DropDownList("user", null, string.Empty, new { id = "ddlInterviewerName", @class = "edit-modeCandidateResult form-control" })  </text>),

            gridCandidateResult.Column("Action", format: @<text>
                <button class="edit-userCandidateResult display-modeCandidateResult btn btn-primary" id="@item.CandidateID">Edit</button>
                <button class="save-userCandidateResult edit-modeCandidateResult btn btn-primary" id="@item.CandidateID">Save</button>
                <button class="cancel-userCandidateResult edit-modeCandidateResult btn btn-primary" id="@item.CandidateID">Cancel</button>
                <button class="delete-userCandidateResult btn btn-primary" id="@item.CandidateID">Delete</button>
            </text>))
        )
</div>
@{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
}