@model InterviewEvaluationSystem.Models.NewModel

@{
    ViewBag.Title = "GetDetails";
    WebGrid gridview = new WebGrid(rowsPerPage: 10);
    //gridview.Bind(Model.NewModel, autoSortAndPage: false, rowCount: Model.RowCo);
}

<h2>Skills</h2>

@*<div id="ajaxgrid">
    @{

    }*@

    @gridview.GetHtml(
        tableStyle: "webgrid-table",
        headerStyle: "webgrid-header",
        footerStyle: "webgrid-footer",
        selectedRowStyle: "webgrid-selected-row",
        rowStyle: "webgrid-row-style",
        mode: WebGridPagerModes.All,
    columns: new[]

{
          gridview.Column("SkillCategory",
         format:
        @<text>
            <span id="skillcategory" class="read">@item.SkillCategory</span>
            @*@Html.TextBox("skillcategory", (string)item.SkillCategory, new { @class = "edit" })*@
        </text>),

    gridview.Column("SkillName",
        format:
        @<text>
            <span id="skillname" class="read">@item.SkillName</span>
            @Html.TextBox("SkillName", (string)item.SkillName, new { @class = "edit" })
        </text>),

    gridview.Column("", style: "button",
                format:
                @<text>
                    <button class="edit-case read" id="@item.SkillCategoryID">Edit</button>
                    <button class="delete-case read" id="@item.SkillCategoryID">Delete</button>
                    <button class="update-case edit" id="@item.SkillCategoryID">Update</button>
                    <button class="cancel-case edit" id="@item.SkillCategoryID">Cancel</button>
                </text>)
    }
)
</div>

<style type="text/css">
    #form1 {
        font-family: "Times New Roman", Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        color: dodgerblue !important;
    }

    .webgrid-table {
        font-family: "Times New Roman", Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        width: 100%;
        display: table;
        border-collapse: separate;
        border: solid 1px dodgerblue;
        background-color: white;
    }

        .webgrid-table td, th {
            border: 1px solid dodgerblue;
            padding: 3px 7px 2px;
        }

    .webgrid-header {
        background-color: black;
        color: black !important;
        padding-bottom: 4px;
        padding-top: 5px;
        text-align: left;
    }

    .webgrid-footer {
    }

    .webgrid-row-style {
        padding: 3px 7px 2px;
    }
</style>

@*@{var skills = Model.List2; }

<table>
    <tr>
        <th>
            SkillCategory
        </th>
        <th>
            Description
        </th>
        <th>
            SkillName
        </th>
      
    </tr>
    @foreach (var item in skills)
    {
        <tr>
            <td>
                @item.tblSkillCategory.SkillCategory
            </td>
            <td>
                @item.tblSkillCategory.Description
            </td>

            <td>
                @item.SkillName
            </td>
        </tr>
    }
</table>*@









