@model IEnumerable<InterviewEvaluationSystem.Models.CandidateViewModel>

@{
    ViewBag.Title = "CandidateView";
    WebGrid webgridStatus = new WebGrid(source: Model, canSort: false, canPage: true, rowsPerPage: 30);
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="~/HR/HRHomePage">Home Page</a>
    </li>
    <li class="breadcrumb-item active">Candidates</li>
</ol>

@using (Html.BeginForm(new { id = "form" }))
{
    <div class="input-group input-group-btn">
        @Html.TextBox("SearchString", null, htmlAttributes: new { @class = "form-control control-label col-md-2", @placeholder = "Search by Name or Email" })
        <span class="input-group-btn">
            <input type="submit" value="Search" class="btn btn-primary" />
        </span>
    </div>
    <br />
}

<div id="grid1">
    @if (Model.Any())
    {
        @webgridStatus.GetHtml(tableStyle: "table table-bordered table-striped",
                headerStyle: "webgrid-header",
                alternatingRowStyle: "webgrid-alternating-row",
                rowStyle: "webgrid-row-style",
                mode: WebGridPagerModes.All,
                columns: webgridStatus.Columns(
                    webgridStatus.Column(columnName: "Name", header: "Name"),
                    webgridStatus.Column(columnName: "Email", header: "Email"),
                    webgridStatus.Column(columnName: "DateOfBirth", header: "Date Of Birth", format:
                    @<text>
                        <label>@item.DateOfBirth.ToString("dd/MM/yyyy")</label>
                    </text>),
                    webgridStatus.Column(columnName: "PAN", header: "PAN"),
                    webgridStatus.Column(columnName: "DateOfInterview", header: "Date Of Interview", format:
                    @<text>
                        <label>@item.DateOfInterview.ToString("dd/MM/yyyy")</label>
                    </text>),
                    webgridStatus.Column(columnName: "Designation", header: "Post Applied For"),
                    webgridStatus.Column(columnName: "TotalExperience", header: "Total Experience"),
                    webgridStatus.Column(columnName: "Qualifications", header: "Qualifications"),
                    webgridStatus.Column(columnName: "CandidateStatus", header: "Status", format: (item) =>
                    {
                        if (item.CandidateStatus == true)
                        {
                            return Html.Raw(string.Format("Hired"));
                        }
                        else if (item.CandidateStatus == false)
                        {
                            return Html.Raw(string.Format("Rejected"));
                        }
                        else
                        {
                            return Html.Raw(string.Format("In Progress"));
                        }
                    })
                    )
                )
    }
    else
    {
        <div class="alert alert-success">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong>No Candidates!!</strong>
        </div>
    }
</div>

<div>
    @Html.ActionLink("Back to Home", "HRHomePage", "HR")
</div>