@model InterviewEvaluationSystem.Models.InterviewerDashboardViewModel
@{
    ViewBag.Title = "HomePage";
}

<link href="~/Content/dashboardstyle.css" rel="stylesheet" />

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="~/Interviewer/HomePage">Home Page</a>
    </li>
    <li class="breadcrumb-item active">Dashboard</li>
</ol>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>@TempData["Success"]</strong>
    </div>
}
<div id="page-wrapper">
    <div class="row">
        <div class="col-xl-3 col-sm-3 mb-3">
            <div class="panel panel-primary bg-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-3">
                            <br />
                            <i class="fa fa-users fa-4x"></i>
                        </div>
                        <div class="col-sm-9 text-right">
                            <div class="huge">@Model.NewCandidateCount</div>
                            <div class="text">New Candidates</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-3 mb-3">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-3">
                            <br />
                            <i class="fa fa-calendar fa-4x"></i>
                        </div>
                        <div class="col-sm-9 text-right">
                            <div class="huge">@Model.TodaysInterviewCount</div>
                            <div class="text">Today's Interviews</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-3 mb-3">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-3">
                            <br />
                            <i class="fa fa-graduation-cap fa-4x"></i>
                        </div>
                        <div class="col-sm-9 text-right">
                            <div class="huge">@Model.HiredCandidateCount</div>
                            <div class="text">Recommended Candidates</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-3 mb-3">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-3">
                            <br />
                            <i class="fa fa-bar-chart fa-4x"></i>
                        </div>
                        <div class="col-sm-9 text-right">
                            <div class="huge">@Model.TotalCandidateCount</div>
                            <div class="text">Total Candidates</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        @if (@Model.TotalCandidateCount != 0)
        {
            <div class="col-xl-6 col-sm-6">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-pie-chart"></i> Candidate  Status - Pie Chart
                    </div>
                    <div class="card-body">
                        <img src="@Url.Action("ChartPie")" alt="PieChart" />
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-sm-6">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-bar-chart"></i> Statistics - Column Chart
                    </div>
                    <div class="card-body">
                        <img src="@Url.Action("ChartColumn")" alt="ColumnChart" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>