@model InterviewEvaluationSystem.Models.InterviewerDashboardViewModel
@{
    ViewBag.Title = "HomePage";
}

<link href="~/Content/startmin.css" rel="stylesheet" />

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="~/Interviewer/HomePage">Home Page</a>
    </li>
    <li class="breadcrumb-item active">Dashboard</li>
</ol>

@if (TempData["Success"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
}
<div id="page-wrapper">
    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="panel panel-primary bg-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-3">
                            <br />
                            <i class="fa fa-users fa-4x"></i>
                        </div>
                        <div class="col-sm-9 text-right">
                            <div class="huge">@Model.NewCandidateCount</div>
                            <div class="text">New Candidates</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <br />
                            <i class="fa fa-calendar fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@Model.TodaysInterviewCount</div>
                            <div class="text">Today's Interviews</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <br />
                            <i class="fa fa-graduation-cap fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@Model.HiredCandidateCount</div>
                            <div class="text">Hired Candidates</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <br />
                            <i class="fa fa-bar-chart fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@Model.TotalCandidateCount</div>
                            <div class="text">Total Candidates</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>