@model InterviewEvaluationSystem.Models.InterviewEvaluationViewModel
@{
    ViewBag.Title = "Interview Evaluation";
    WebGrid webgridRatingScale = new WebGrid(source: Model.RatingScale, canSort: true, defaultSort: "RateScaleID", ajaxUpdateContainerId: "grid1", fieldNamePrefix: "f1", pageFieldName: "p1");
    List<WebGrid> webgrids = new List<WebGrid>(10);
    for (int i = 0; i < Model.SkillCategories.Count; i++)
    {
        webgrids.Add(new WebGrid(source: Model.SkillsByCategory[i], canPage: true, canSort: true,
            defaultSort: "SkillId", selectionFieldName: "selectedRow", rowsPerPage: 15, ajaxUpdateContainerId: "grid" + i, fieldNamePrefix: "f" + i, pageFieldName: "p" + i));
    }

}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/webgridstyle.css" rel="stylesheet" />
<h2>Interview Evaluation</h2>
<p>Candidate Name: @Session["candidateID"].ToString()</p>
<p>Current Round: @Session["roundID"].ToString()</p>
<p>Evaluation ID: @Session["evaluationID"].ToString()</p>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "signupform" }))
{
    <h3>Rating Scale</h3>
    if (Model.RatingScale.Any())
    {
        <div id="grid1">
            @webgridRatingScale.GetHtml(tableStyle: "table table-bordered table-striped table-condensed",
            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row",
            selectedRowStyle: "webgrid-selected-row",
            rowStyle: "webgrid-row-style",
            mode: WebGridPagerModes.All,
            columns: webgridRatingScale.Columns(
                webgridRatingScale.Column(columnName: "RateScale", header: "RateScale"),
                webgridRatingScale.Column(columnName: "Value", header: "Value"),
                webgridRatingScale.Column(columnName: "Description", header: "Description")
                )
            )
        </div>
    }

    for (int i = 0; i < Model.SkillCategories.Count; i++)
    {
        <h3>@Model.SkillCategories[i].SkillCategory</h3>
        List<WebGridColumn> columns = new List<WebGridColumn>();
        WebGridColumn column = new WebGridColumn();
        column.ColumnName = "SkillName";
        column.Header = "Skill Name";
        column.Format = (item) => item.GetSelectLink(item.SkillName.ToString());
        columns.Add(column);
        foreach (var round in Model.Rounds)
        {
            columns.Add(new WebGridColumn()
            {
                ColumnName = round.RoundName,
                Header = round.RoundName,
                Format = (item) => Html.DropDownListFor(m => m.RatingScale[i].RateScaleID, new SelectList(Model.RatingScale, "RateScaleID", "Value"), "--Select--", new { @id = "id" + round.RoundID + item.SkillID, @class = "class" + round.RoundID, @name = "name" + item.SkillID })
            });
        }
        <div class="grid">
            @webgrids[i].GetHtml(tableStyle: "table table-bordered table-striped table-condensed",
            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row",
            selectedRowStyle: "webgrid-selected-row",
            rowStyle: "webgrid-row-style",
            mode: WebGridPagerModes.All,
            columns: columns
            )
        </div>
        if (webgrids[i].HasSelection)
        {
            <h3>Selected row</h3>
            var skill = (InterviewEvaluationSystem.Models.SkillViewModel)webgrids[i].Rows[webgrids[i].SelectedIndex].Value;
            <p>Skill ID: @skill.SkillID</p>
            <p>Skill Name: @skill.SkillName</p>
        }
    }
    @Html.TextArea("Comments", "Comments", new { @class = "form-control" })<br />
    <input type="submit" value="Proceed" class="btn btn-default"/>
    <input type="button" value="Reject" class="btn btn-default" />
}
<script type="text/javascript">
    $(".grid").find("select").attr("disabled", true);
    $(".class@(@Session["roundID"])").attr("disabled", false);
    $("#signupform").submit (function getValues(){
        var count = $(".class@(@Session["roundID"])").length;
        var valueArray = [];
        for(var i = 1; i <= count; i++){
            var itemid ="id" + @(@Session["roundID"]) + i ;
            valueArray[i] = $('#'+itemid).find('option:selected').val();
        }
        var evaluationID = @(@Session["evaluationID"]);
        var comments = $('#Comments').val();
        $.ajax({
            url: '/Interviewer/InterviewEvaluation',
            type: 'post',
            data: { evaluationID : evaluationID, values : valueArray, comments : comments },
            success: function (data) {
                alert("success");
            },
            error: function () {
            }
        });
    });
</script>