@model InterviewEvaluationSystem.Models.tblUser

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    if (TempData["Message"] != null)
    {
        <script type="text/javascript">
        alert(@Html.Raw(Json.Encode(TempData["Message"])));
        </script>
    }
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @id = "txtEmail" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                <label id="lblEmail" class="text-danger"></label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="sbtBtn" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div id="partial">

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sbtBtn').click(function () {
                var email = $("#txtEmail").val();
                $.ajax({
                    type:"POST",
                    url: "/Home/PasswordReset",
                    data:{email:email},
                    success: function(data)
                    {
                        if (data.result == 1) {
                            $.post(data.Url, function (partial) {
                                $("#lblEmail").empty();
                                $("#partial").html(partial);
                            });

                        }
                        else if(data.result==2)
                        {
                            $("#lblEmail").html("Email entered is not registered.Please enter a registered email.");
                        }
                        else
                        {
                        }
                        },
                    error: function(data)
                    {
                    }
                })
            });
        });

    </script>
}
