@model InterviewEvaluationSystem.Models.UserViewModel

@{
    ViewBag.Title = "ViewProfile";
    var det = ViewBag.Details;
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        @if (Convert.ToInt32(Session["UserTypeID"]) == 1)
        {
            <a href="~/HR/HRHomePage">Home Page</a>
        }
        else
        {
            <a href="~/Interviewer/HomePage">Home Page</a>
        }
    </li>
    <li class="breadcrumb-item active">View Profile</li>
</ol>

<div id="formProfile">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @det.UserName
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>
        <dd>
            @det.EmployeeId
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Designation)
        </dt>
        <dd>
            @det.Designation
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @det.Address
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pincode)
        </dt>
        <dd>
            @det.Pincode
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @det.Email
        </dd>

    </dl>
</div>