@model InterviewEvaluationSystem.Models.tblUser

@{
    ViewBag.Title = "ViewProfile";
}

<link href="~/Content/viewprofile.css" rel="stylesheet" />

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        @if (Convert.ToInt32(Session["UserTypeID"]) == 1)
        {
            <a href="~/HR/HRHomePage">Home Page</a>
        }
        else
        {
            <a href="~/Interviewer/HomePage">Home Page</a>
        }
    </li>
    <li class="breadcrumb-item active">View Profile</li>
</ol>

<div class="row">
    <div class="col-xl-6 col-sm-12 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-user"></i> User Name : @Model.UserName
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <span class="imgspan"><img alt="User Pic" src="~/Images/user.png" class="img-circle"></span>
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-8 tablediv">
                        <table class="table table-user-information">
                            <tbody>
                                <tr>
                                    <td>
                                        <span class="icon-bar"><i class="fa fa-user" aria-hidden="true"></i></span>
                                        @Html.DisplayNameFor(model => model.EmployeeId)
                                    </td>
                                    <td>@Model.EmployeeId</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="icon-bar"><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                                        @Html.DisplayNameFor(model => model.Designation)
                                    </td>
                                    <td>@Model.Designation</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="icon-bar"><i class="fa fa-globe" aria-hidden="true"></i></span>
                                        @Html.DisplayNameFor(model => model.Address)
                                    </td>
                                    <td>@Model.Address</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="icon-bar"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                        @Html.DisplayNameFor(model => model.Pincode)
                                    </td>
                                    <td>@Model.Pincode</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="icon-bar"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                        @Html.DisplayNameFor(model => model.Email)
                                    </td>
                                    <td>@Model.Email</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card-footer small text-muted">
                @Html.ActionLink(" Update Profile", "ProfileUpdate", "Home", new { @class = "btn btn-primary fa fa-edit" })
            </div>
        </div>
    </div>
</div>

<div>
    @if (Convert.ToInt32(Session["UserTypeID"]) == 1)
    {
        @Html.ActionLink("Back to Home", "HRHomePage", "HR")
    }
    else
    {
        @Html.ActionLink("Back to Home", "HomePage", "Interviewer")
    }
</div>